html {
	font-size: 67.5%;
	font-family: 'Lato', sans-serif;
	color: #000000;
}

body {
	margin: 0;
	padding: 0;
	font-size: 1.6rem;
	background-color: #e0f2f1;
}

.navigation {
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: absolute;
	background-color: #00acc1;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	color: #FFFFFF;
}

.navigation .close-icon, .navigation .open-icon {
	font-size: 3.6rem;
	margin-top: 10px;
	margin-bottom: 10px;
}

.navigation .open-icon {
	color: #000000;
}

.navigation .nav-list {
	padding: 0;
	margin: 0;
	display: none;
	list-style: none;
}

.navigation .nav-list li a {
	color: #FFFFFF;
}

.navigation .nav-list li a:hover {
	color: #8e24aa;
}

.navigation .nav-list li a:link {
	text-decoration: none;
}

.navigation.nav-list-opened {
	background-color: #00bcd4;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.45);
	box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.45);
}

.navigation.nav-list-opened .nav-list {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.navigation .nav-list li{
	padding-bottom: 10px;
	padding-top: 10px;
	width: 80%;
	text-align: center;
	border-bottom: 2px solid #26c6da;
}

.navigation .nav-list li:last-child {
	padding-bottom: 0;
	border: 0;
}

.navigation .nav-list .socials {
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: bold;
}

.navigation .menu-button .open-icon {
	display: block;
}

.navigation .menu-button .close-icon {
	display: none;
}

.navigation.nav-list-opened .menu-button .open-icon {
	display: none;
}

.navigation.nav-list-opened .menu-button .close-icon {
	display: block;
}

.navigation .menu-button {
	border: 0;
	background: 0;
}

.github {
	width: 75px;
	fill: #FFFFFF;
}

.github:hover {
	fill: #8e24aa;
}

.freecodecamp {
	width: 250px;
}

.freecodecamp:hover {
	fill: #8e24aa;
}

.freecodecamp:hover .path-color{
	fill: #8e24aa;
}

.page-header {
	background-color: #00acc1;
	margin-top: 58px;
	text-align: center;
	color: #FFFFFF;
}

.page-heading {
	padding-top: 10px;
	font-weight: bold;
	letter-spacing: 2px;
}

.heading-caption {
	font-style: italic;
}

.wrapper {
	padding-left: 20px;
	margin-right: 20px;
}

.about-me {
	padding-bottom: 30px;
	border-bottom: 2px solid #26c6da;

}

.section-title {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
}

.technologies {
	border-bottom: 2px solid #26c6da;
	padding-bottom: 30px;
}

.technologies .tech {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.technologies .tech .tech-img {
	width: 33.3333%;
	padding: 5px;
}

.projects {
	border-bottom: 2px solid #26c6da;
	padding-bottom: 30px;
}

.projects .projects-wrapper .project-img {
	width: 100%;
}

.projects .projects-wrapper a {
	width: 50%;
	padding: 5px;
}

.projects-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.contact-me {
	padding-bottom: 30px;
}

.contact-me .form-name, .contact-me .form-email, .contact-me .form-message {
	border: 0;
	border-bottom: 1px solid #f48fb1;
	width: 100%;
	height: 60px;
	background-color: #e0f2f1;
	font-size: 3rem;
	margin-bottom: 10px;
	padding: 5px;
} 

.contact-me .submit-btn {
	margin-top: 20px;
	border: 0;
	background: 0;
	width: 100%;
	border-radius: 5px;
	font-size: 3rem;
	background-color: #8e24aa;
	color: #FFFFFF;
	padding: 10px;
}

.submit-btn{
	cursor: pointer;
}

.contact-me .name-label, .contact-me .email-label {
	width: 100%;
}

/* Tablets */
@media (min-width: 768px) {
	.navigation {
		font-size: 2.2rem;
	}

	.wrapper {
		padding-left: 30px;
		padding-right: 30px;
	}

	.technologies .tech .tech-img {
    width: 33.3333%;
    padding: 15px;
	}

	.projects .projects-wrapper a {
    width: 50%;
    padding: 15px;
	}
}

/* Desktops */
@media (min-width: 992px) {
	body {
		font-size: 2rem;
	}
  
	.navigation {
		display: flex;
		justify-content: center;
		flex-direction: column;
		position: fixed;
		right: 0;
		left: initial;
		width: 300px;
		height: 100%;
	}

	.navigation .menu-button {
		display: none;
	}

	.navigation .nav-list {
		display: block;
	}

	.navigation .nav-list {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.navigation .nav-list li{
		padding-bottom: 20px;
		padding-top: 20px;
		width: 80%;
		text-align: center;
		border-bottom: 2px solid #26c6da;
	}

	.page-header {
		margin-top: 0;
		width: calc(100% - 300px);
		top: -20px;
		position: relative;
		padding-top: 20px;
		padding-bottom: 20px;
		margin-bottom: 0;
	}

	.about-me {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.wrapper {
		width: calc(100% - 300px);
		position: relative;
		top: -20px;
	}

	.technologies .tech .tech-img {
		width: 16.6666%;
		padding: 15px;
	}

	.projects .projects-wrapper a {
		width: 33.3333%;
		padding: 15px;
	}

	.contact-me .contact-me-form {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.contact-me .name-label, .contact-me .email-label {
		width: 49%;
	}
}

@media (max-height: 600px) and (min-width: 992px) {
	.navigation {
		font-size: 1.6rem;
	}

	.navigation .nav-list li {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.github {
		width: 50px;
	}

	.freecodecamp {
		width: 150px;
	}
}